<a href="https://colab.research.google.com/github/promise32/jetty/blob/promise32-patch-4/SQLFINALASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment: Notebook for Peer Assignment
###DATA SETS

*Socioeconomic Indicators in Chicago*

*Chicago Public Schools*

*Chicago Crime Dat*

In [1]:
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

In [2]:
import pandas as pd

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///FinalDB.db

In [5]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [6]:
path =  "/content/drive/MyDrive/Colab Notebooks/ChicagoCrimeData.csv"

In [7]:
path2= '/content/drive/MyDrive/Colab Notebooks/ChicagoCensusData.csv'

In [8]:
path3= '/content/drive/MyDrive/Colab Notebooks/ChicagoPublicSchools (1).csv'

In [75]:
df= pd.read_csv(path)
df.to_sql("ChicagoCrimeData", con, if_exists='replace', index=False,method="multi")

df2= pd.read_csv(path2)
df2.to_sql("ChicagoCensusData", con, if_exists='replace', index=False,method="multi")

df3= pd.read_csv(path3)
df3.to_sql("ChicagoPublicSchools", con, if_exists='replace', index=False,method="multi")

df4= pd.read_csv(path3)
df4.to_sql("Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_", con, if_exists='replace', index=False,method="multi")

566

In [10]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('ChicagoPublicSchools');

 * sqlite:///FinalDB.db
Done.

[('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

In [11]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO("ChicagoCensusData");

 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 7),
 ('HARDSHIP_INDEX', 'REAL', 4)]

In [12]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO("ChicagoCrimeData");

 * sqlite:///FinalDB.db
Done.

[('ID', 'INTEGER', 7),
 ('CASE_NUMBER', 'TEXT', 4),
 ('DATE', 'TEXT', 4),
 ('BLOCK', 'TEXT', 4),
 ('IUCR', 'TEXT', 4),
 ('PRIMARY_TYPE', 'TEXT', 4),
 ('DESCRIPTION', 'TEXT', 4),
 ('LOCATION_DESCRIPTION', 'TEXT', 4),
 ('ARREST', 'INTEGER', 7),
 ('DOMESTIC', 'INTEGER', 7),
 ('BEAT', 'INTEGER', 7),
 ('DISTRICT', 'INTEGER', 7),
 ('WARD', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('FBICODE', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('YEAR', 'INTEGER', 7),
 ('LATITUDE', 'REAL', 4),
 ('LONGITUDE', 'REAL', 4),
 ('LOCATION', 'TEXT', 4)]

## **Problem 1**
###Find the total number of crimes recorded in the CRIME table.

In [13]:
%sql select count(*)  FROM "ChicagoCrimeData"

 * sqlite:///FinalDB.db
Done.

[(533,)]

# **Problem 2**
##List community areas with per capita income less than 11000.

In [14]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM "ChicagoCensusData" where PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

# **Problem 3**
##List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
​

In [15]:
%sql SELECT DISTINCT CASE_NUMBER from ChicagoCrimeData where DESCRIPTION like '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]


# Problem 4
## List all kidnapping crimes involving a child?

In [53]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM "ChicagoCrimeData" WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%' AND \
 DESCRIPTION LIKE '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

# Problem 5
## What kinds of crimes were recorded at schools?

In [17]:
%sql select PRIMARY_TYPE FROM ChicagoCrimeData where LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6
## List the average safety score for each type of school.
​

In [59]:
from numpy.lib.function_base import average
%sql select "Elementary, Middle, or High School", round(AVG(SAFETY_SCORE)) as AVERAGE_SAFETY_SCORE from 'ChicagoPublicSchools' \
group by "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 50.0), ('HS', 50.0), ('MS', 48.0)]

# **Problem 7**
## List 5 community areas with highest % of households below poverty line

In [19]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO("ChicagoCensusData");

 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 7),
 ('HARDSHIP_INDEX', 'REAL', 4)]

In [60]:
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from ChicagoCensusData \
      order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# **Problem 8**
##Which community area is most crime prone?

In [21]:
%sql select COMMUNITY_AREA_NUMBER, PRIMARY_TYPE, count(*) from ChicagoCrimeData where COMMUNITY_AREA_NUMBER=25.0 \
 group by COMMUNITY_AREA_NUMBER

 * sqlite:///FinalDB.db
Done.

[(25.0, 'THEFT', 43)]

#**Problem 9**

##Use a sub-query to find the name of the community area with highest hardship index

In [51]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM ChicagoCensusData WHERE \
 HARDSHIP_INDEX=(select MAX(HARDSHIP_INDEX) FROM ChicagoCensusData)

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 98.0)]

#**Problem 10**
##Use a sub-query to determine the Community Area Name with most number of crimes?
​

In [82]:
#from posixpath import join USED ONLY FOR JOINING

In [80]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData where
COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from ChicagoCensusData where
COMMUNITY_AREA_NUMBER=25.0 limit 1)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]